:root {
  --lt--primary--color: #6d4930;
  --lt--text--primary--color: #ffffff;
  --nav--input--border: #000000;
  --centered--box-color: #ffffff;
  --heart--icon--color: #ff0000;
  --error--text--color: #ff0000;
  --heart--icon--gray: #d3d3d3;
  --rating--star--color: #de7921;
  --text--xxsmall: 1rem;
  --text--xsmall: 1.25rem;
  --text--small: 1.5rem;
  --text--medium: 2rem;
  --text--large: 2.5rem;
  --text--large: 3rem;
}
