.cart-price-details {
  height: fit-content;
  width: 25rem;
  top: 10rem;
  position: sticky;
  padding: 2rem;
  grid-gap: 1rem;
}

.price-details-item {
  justify-content: space-between;
}

.line-divider {
  border: 0.2px solid var(--lt--primary--color);
}

.cart-container .primary-btn {
  font-size: 1rem;
}
